<main [class.blured]="isEndGame()">
  <header class="title color-text-ready">GAME</header>

  <div class="actions">
    <input class="input-form" type="number" [(ngModel)]="selectedTime">
    <button class="button" (click)="startGame()" [disabled]="timerId">START</button>
  </div>

  <div class="container">
    <div
      class="cell color-default"
      [class.color-ready]="i === readyCell()"
      [class.color-win]="winCells().includes(i)"
      [class.color-defeat]="defeatCells().includes(i)"
      *ngFor="let cell of tableSize; let i = index"
      (click)="updateScore(i)"
    ></div>
  </div>

  <div class="score-field text">SCORE: {{ userScore() }} / {{ systemScore() }}</div>
</main>

<app-modal-score
  *ngIf="isEndGame()"
  class="modal"
  [isUserWin]="userScore() > systemScore()"
  [score]="userScore() + '/' + systemScore()"
  (handleRetry)="onRetry()"
 ></app-modal-score>
